@import "tailwindcss";

@theme {
  --color-primary: rgb(20, 160, 230);
  --color-primary-foreground: rgb(255, 255, 255);
  --color-accent: rgb(202, 65, 34);
  --color-accent-foreground: rgb(255, 255, 255);
  --color-secondary: --alpha(
    color-mix(in oklab, var(--color-primary), var(--color-white) 50%) / 60%
  );
  --color-secondary-foreground: color-mix(
    in oklab,
    var(--color-primary),
    var(--color-white) 70%
  );
  --color-destructive: var(--color-rose-500);
  --color-destructive-foreground: rgb(255, 255, 255);
  --color-success: var(--color-teal-500);
  --color-success-foreground: rgb(255, 255, 255);
  --color-background: color-mix(
    in oklab,
    var(--color-primary),
    var(--color-black) 80%
  );
  --color-foreground: var(--color-white);

  --font-orbitron: "Orbitron", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  @apply bg-background text-foreground antialiased text-sm tracking-wider;
  font-family: var(--font-orbitron);
}

